In [6]:
mylist = ["zaki", "malik", "3102", "3103"]

In [7]:
len(mylist)

4

In [8]:
mylist[0]

'zaki'

In [9]:
mylist[2]

'3102'

In [11]:
mylist[3]

'3103'

In [12]:
mylist.append("hello Zaki")

In [16]:
mylist.insert(2,"hello malik")

In [17]:
mylist[2]

'hello malik'

In [18]:
mylist

['zaki', 'malik', 'hello malik', '3102', '3103', 'hello Zaki']

In [22]:
mylist.insert(1, "maliking")

In [27]:
mylist.insert(5, "zaman")
mylist

['zaki',
 'maliking',
 'zaman',
 'zaman',
 'zaman',
 'zaman',
 'malik',
 'hello malik',
 '3102',
 '3103',
 'hello Zaki']

In [30]:
mylist.count("zaman")

4

In [36]:
mylist.extend(["apple", "magno", "cherry"])

In [37]:
mylist

['zaki',
 'maliking',
 'zaman',
 'zaman',
 'zaman',
 'zaman',
 'malik',
 'hello malik',
 '3102',
 '3103',
 'hello Zaki',
 'l',
 'a',
 's',
 't',
 '1',
 'l',
 'a',
 's',
 't',
 '1',
 'apple',
 'magno',
 'cherry',
 'apple',
 'magno',
 'cherry']

In [42]:
mylist.remove("l")
mylist

['zaki',
 'maliking',
 'zaman',
 'zaman',
 'zaman',
 'zaman',
 'malik',
 'hello malik',
 '3102',
 '3103',
 'hello Zaki',
 'a',
 's',
 't',
 '1',
 'a',
 's',
 't',
 '1',
 'apple',
 'magno',
 'cherry',
 'apple',
 'magno',
 'cherry']

In [45]:
mylist.clear()
mylist

[]

In [47]:
mylist.extend(['zaki','maliking','zaman','zaman','zaman','zaman','malik','hello malik','3102','3103','hello Zaki','apple','magno','cherry','apple','magno','cherry'])

In [48]:
mylist

['zaki',
 'maliking',
 'zaman',
 'zaman',
 'zaman',
 'zaman',
 'malik',
 'hello malik',
 '3102',
 '3103',
 'hello Zaki',
 'apple',
 'magno',
 'cherry',
 'apple',
 'magno',
 'cherry']

In [51]:
mylist.count("zaman")

4

In [67]:
del mylist[1]
mylist

mylist

['zaki', 'apple']

In [68]:
mylist.remove("apple")

In [70]:
mylist

['zaki']

In [71]:
cities=["lahore","karachi","islamabad","faisalabad"]

In [87]:
zakicities=cities.copy()  # in Value

In [77]:
zakicities

['lahore', 'karachi', 'islamabad', 'faisalabad']

In [78]:
malikcities=cities  # By reference*

In [79]:
cities.remove("lahore")

In [80]:
zakicities

['lahore', 'karachi', 'islamabad', 'faisalabad']

In [81]:
malikcities

['karachi', 'islamabad', 'faisalabad']

In [82]:
cities

['karachi', 'islamabad', 'faisalabad']

In [83]:
del malikcities[0]

cities

In [84]:
cities

['islamabad', 'faisalabad']

In [85]:
malikcities

['islamabad', 'faisalabad']

In [89]:
zakicities

['islamabad', 'faisalabad']

In [91]:
poppedcities=cities.pop(1)

IndexError: pop index out of range

In [92]:
cities=['lahore', 'karachi', 'islamabad', 'faisalabad']

In [94]:
poppedcity=cities.pop(1)

In [95]:
poppedcity

'karachi'

In [100]:
print (f"popped city is: {poppedcity}")
print (f"remaining cities are: {cities}")

popped city is: karachi
remaining cities are: ['lahore', 'islamabad', 'faisalabad']

In [103]:
cities

['lahore']

In [104]:
cities.extend(["islamabad", "karachi","faisalabad"])

In [105]:
cities

['lahore', 'islamabad', 'karachi', 'faisalabad']

In [106]:
poppedcity=cities.pop() # pop function by default pop last value 
#untill we define any index like we do above

In [3]:
names= ["zaman","rahman","faizan","ramzan"]

In [5]:
names.sort()
names

['faizan', 'rahman', 'ramzan', 'zaman']

In [11]:
names.sort(reverse=True)
names

['zaman', 'ramzan', 'rahman', 'faizan']

In [15]:
names.reverse()
names

['zaman', 'ramzan', 'rahman', 'faizan']

In [17]:
print(names[1])

ramzan

In [19]:
names.index("rahman")

2

In [20]:
zaman in list of names

SyntaxError: invalid syntax (<ipython-input-20-ce535191ea7c>, line 1)